<section class="header">
    <div class="header_bg">
        <div class="container">
    <img src="../public/logo_event-booster.svg" class="absolute top-0 left-0
    max-[320px]:w-[107px] max-[320px]:h-[90px]        
    min-[320px]:max-[576px]:w-[140px] min-[320px]:max-[576px]:h-[110px]  
    max-[768px]:w-[178px] max-[768px]:h-[151px]      
    min-[768px]:max-[992px]:w-[200px] min-[768px]:max-[992px]:h-[170px]  
    md:w-[238px] md:h-[201px]" alt="logo">
    <h1
        class=" text-center text-[#DC56C5] font-black max-[320px]:text-[18px] max-[320px]:leading-[1.22] max-[320px]:pt-[78px] max-[320px]:pb-[25px] max-[768px]:text-[30px] max-[768px]:leading-[1.23] max-[768px]:pt-[70px] max-[768px]:pb-[27px] md:text-[50px] md:leading-[1.22] md:pt-[40px] md:pb-[52px]">
        FIND BEST EVENTS <br />
        AROUND THE WORLD
    </h1>
    <nav class="grid grid-cols-1 md:grid-cols-2 gap-7 mb-[52px] md:pb-[123px] lg:pb-[133px] justify-items-center">
        <div
            class="px-[30px] py-[10px] flex justify-between items-center bg-[#FFFFFF33] rounded-[20px] w-[270px] h-[40px] backdrop-blur-[20px] md:justify-self-end">
            <input id="search-input"
                class="font-normal text-base text-[#FFFFFF] placeholder-[#939393] focus:outline-none"
                placeholder="Start searching" />
            <img src="../public/icon-search.svg" alt="Logo" class="size-3" />
        </div>
        <div
            class="px-[30px] py-[10px] flex justify-between items-center bg-[#FFFFFF33] rounded-[20px] w-[270px] h-[40px] backdrop-blur-[20px] md:justify-self-start cursor-pointer select-none">
            <h3 class="font-normal text-base text-[#939393]">Choose country</h3>
            <img src="../public/icon-dropdown.svg" alt="Logo" class="size-3" />
        </div>
    </nav>
    </div>
    </div>
</section>