<div class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-[#FFF2FD] rounded-tl-[300px] rounded-br-[300px] p-25 max-w-3xl w-full shadow-lg">
    
    <!-- Кругле фото зверху -->
    <div class="flex justify-center -mt-16 mb-6">
      <div class="w-36 h-36 rounded-full overflow-hidden  ">
        <img src="../public/picr.svg" alt="" class="w-full h-full object-cover">
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">

      <!-- Ліва частина -->
      <div class="flex items-center justify-center rounded-2xl">
        <img src="../public/pic.svg" alt="#">
      </div>
     
      <!-- Права частина -->
      <div class="space-y-2 pt-25">
        
        <!-- INFO -->
        <div>
          <h3 class="text-[#DC56C5] text-lg font-bold">INFO</h3>
          <p class="text-black">
            Atlas Weekend is the largest music festival in Ukraine. 
            More than 200 artists will create a proper music festival 
            atmosphere on 10 stages.
          </p>
        </div>

        <!-- WHEN -->
        <div>
          <h3 class="text-[#DC56C5] text-lg font-bold">WHEN</h3>
          <p class="text-black">2021-06-09</p>
          <p class="text-black">20:00 (Kyiv/Ukraine)</p>
        </div>

        <!-- WHERE -->
        <div>
          <h3 class="text-[#DC56C5] text-lg font-bold">WHERE</h3>
          <p class="text-black">Kyiv, Ukraine</p>
          <p class="text-black">VDNH</p>
        </div>

        <!-- WHO -->
        <div>
          <h3 class="text-[#DC56C5] text-lg font-bold">WHO</h3>
          <p class="text-black">The Black Eyed Peas</p>
        </div>

        <!-- PRICES -->
        <div>
          <h3 class="text-[#DC56C5] text-lg font-bold">PRICES</h3>
          
          <!-- Standart -->
          <div class="mb-4">
            <p class="text-black mb-2">Standart 300-500 UAH</p>
            <button class="bg-[#4C00FF] text-white px-3 py-2 rounded-md w-full">
              BUY TICKETS
            </button>
          </div>

          <!-- VIP -->
          <div>
            <p class="text-black mb-2">VIP 1000-1500 UAH</p>
            <button class="bg-[#4C00FF] text-white px-3 py-1 rounded-md w-full">
              BUY TICKETS
            </button>
          </div>
        </div>

        <!-- AUTHOR BTN -->
        <div class="text-center pt-4">
          <button class="border border-[#4C00FF] text-[#4C00FF] px-6 py-2 rounded-md font-medium">
            MORE FROM THIS AUTHOR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
